* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62,5%; /*resetando todas as fontes pra equivalentes a 10px*/
}

body {
    font-size: 1.6rem;
}

button {
    all: unset;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

#page {
    height: 100vh; /*deixar do tamanho da tela do seu monitor padrão*/
}

.flex {
    display: flex; /*classe utilitaria flex e posso utilizar onde eu quiser*/
}

#page > * {
    width: 50%; /* pegando o id page e pegando o primeiro nivel de filhos que são os 2 inputs e a img e coloquei uma  largura de 50%*/
}

img {
    width: 100%;
    object-fit: cover;/* cobrir tudo na pagina com a img sem perder qualidade*/
}

header img {
    height: 5.4rem;
    width: 16rem;
}

#page > div {
    padding: 4rem 11.2rem;
}

main {
    margin-top: 11.4rem;
}

.headline {
    max-width: 35rem;
}

form {
    margin-top: 4rem;
}

form input {
     width: 100%;
     background: #fff;
     border: 0.1rem solid #e2e8f0;
     border-radius: 0.4rem;
     padding: 1.6rem 1.2rem;
     margin-top: 0.8rem;
}

.input-wrapper {
    position: relative;
}

form .input-wrapper + .input-wrapper { /*vai pegar um input wrapper que anterior a ele tem um outro input wrapper*/
    margin-top: 1.6rem;
}

.label-wrapper {
    justify-content: space-between;
}

::-ms-reveal {
    display: none; /*para retirar o olhinho do ms edge*/
}

.eye {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 52%;
    right: 5%;
}

.hide {
    display: none;
}

form button {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.4rem;
    background: #7c3aed;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    margin-block: 3.2rem ;
}

form button:focus {
    outline: 2px solid black;
    border-radius: 0.2rem;

}
form button:hover{

    background: #9f67ff;
}


